body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 133, 189);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33a;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 1px 7px 15px -4px rgba(0, 0, 0, 0.75);
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 0.8em;
}

#container {
    width: 70%;
    text-align: left;
    border-top: 3px solid rgb(55, 35, 228);
    border-right: 3px solid rgb(14, 133, 200);
    border-bottom: 3px solid rgb(44, 3, 139);
    border-left: 3px solid rgb(163, 14, 200);
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
    color: rgb(2, 138, 97);
}