body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 133, 189);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 2em;
    text-align: left;
    border-top: 3px solid rgb(14, 133, 200);
    border-right: 3px solid rgb(55, 35, 228);
    border-bottom: 3px solid rgb(44, 3, 139);
    border-left: 3px solid rgb(163, 14, 200);
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}